@using InventoryWebApp.ViewModel
@model InventoryItemsViewModel


<div class="box-shadow">
    <form method="post" asp-action="AddPost" asp-controller="Inventory">

        <label asp-for="Name">Name: </label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span> 


        <label asp-for="Description">Description: </label>
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description"></span>

        

        <label asp-for="Quantity">Quantity: </label>
        <input type="text" asp-for="Quantity" />
        <span asp-validation-for="Quantity"></span>


        <label asp-for="PricePerItem">PricePerItem: </label>
        <input type="text" asp-for="PricePerItem" />
        <span asp-validation-for="PricePerItem"></span>
        

        <input type="submit" value="Submit" />

    </form>
</div>
